:root {

/* -- Transition ------ */
--o_transition--time: 0.2s;
--o_transition--ease: cubic-bezier(0.1, 0.7, 0.2, 1);
--o_transition--ease-inverse: cubic-bezier(0.7, 0.1, 1, 0.2);

/* -- Section ------- */
--o_section-arrow--rotate: 315deg;

}
