.config-bar {
  position: relative;
  margin: 0 auto;

  width: 336px;
  min-height: 100vh;

  background: var(--c_gray-10);

  z-index: 1;

  &--main {
    max-height: 0;

    overflow: hidden;

    @add-mixin transition;

    &.active {
      max-height: 400px;

      @add-mixin transition-inverse;
    }

  }
}
