/* .config-bar {
  width: 336px;
  height: 100vh;
  padding: var(--space_m);

  background-color: var(--c_gray-10);
} */

body {
  background: var(--c_gray-10);
  width: 288px;
  margin: 70px auto;
}
