@define-mixin mono {
  font-family: var(--t_mono);
  font-variant-numeric: slashed-zero;
  font-feature-settings: 'zero' 1;
}

@define-mixin transition {
  transition: all var(--o_transition--time) var(--o_transition--ease);
}
